@model IEnumerable<OficinaWebMVC.Models.ListaVeiculos>

@{
    ViewData["Title"] = "Veiculos";
}

<h1>Veiculos</h1>

<p>
    <a asp-action="CreateCarro">Cadastrar Carro</a>
</p>

<p>
    <a asp-action="CreateMoto">Cadastrar Moto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodChassi)
            </th>
          
            <th>
                @Html.DisplayNameFor(model=> model.ModeloCarro )
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.ModeloMoto )
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodChassi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloCarro)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloMoto)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVeiculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVeiculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVeiculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


