@model IEnumerable<OficinaWebMVC.Models.OrcamentoModel>

@{
    ViewData["Title"] = "Orcamento";
}

<h1>Orçamento</h1>

<p>
    <a asp-action="Create">Novo Orçamento</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaVeiculo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacaVeiculo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfResponsavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusOrcamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrazoOrcamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
